<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="../img/logos/favicon.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="SOS TIcket">
    <link rel="apple-touch-icon-precomposed" href="../img/favicon.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="../img/favicon.png">
    <meta name="msapplication-TileColor" content="#F9AF48">
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="mask-icon" href="../img/icons/safari-pinned-tab.svg" color="#F9AF48">
    <meta name="theme-color" content="#F9AF48">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/aos.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <%- include('../html/freshchat') -%>
    <title>Taxis | SOS Ticket</title>
    <meta name="description" content="SOS Ticket est le fier porte-parole des droits des automobilistes depuis 2006. Nous sommes les leaders en contestation d’infractions.">
</head>

<body>
    <%- include('../html/en_header') -%>
    <main id="mainContent">

        <!-- section select forfait -->
        <section class="forfait">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="./forfaits.html">Packages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Taxis</li>
                    </ol>
                </nav>
                <h2>Package: Taxis</h2>
                <div class="row my-5">
                    <div class="col-md-6">
                        <img class="img-fluid rounded-lg shadow mb-5" src="../img/photos/taxi.jpg" alt="vue du toit d'une auto de taxi avec le signe taxi en jaune" data-aos="fade-up">
                    </div>
                    <div class="col-md-6">
                        <h3>Legal assistance for taxis</h3>

                        <p class="mt-4 mb-3 font-weight-bold">Services included in the package:</p>
                        <p>Taxis are on the road constantly, and your license is your livelihood. Our lawyers will know how to represent you properly.</p>
                        <p>For Taxis, please contact us to get a custom preferential quote and prime service.</p>
                        <div class="d-flex justify-content-between align-items-center mt-4">
                            <a href="tel:5144484911" class="btn btn-primary shadow flex-grow-1" role="button"><i class="fas fa-phone"></i> Talk to a lawyer</a>
                        </div>
                        <p class="mt-3"><a href="./contactez-nous.html">Contact us</a></p>

                        <hr>
                        <p class="small">This package does not include trial fees or any other legal procedure, as every file is unique. When you will have your consultation with the lawyer, he will suggest an optimal course of action and you can decide together which next steps are best for you, along with associated fees. Don’t forget to send us any document or notice of hearing you may receive relating to your file as soon as possible.</p>
                    </div>
                </div>


            </div>

        </section>

    </main>
    <%- include('../html/en_footer') -%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../js/aos.js"></script>
    <script src="../js/scripts.js"></script>
    <script>
        window.onload = function() {
            document.getElementById('packages').classList.add("active");
            $('#translation').attr("href", "../forfait-taxis.html");
        };
    </script>
</body></html>
