<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="../img/logos/favicon.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="SOS TIcket">
    <link rel="apple-touch-icon-precomposed" href="../img/favicon.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="../img/favicon.png">
    <meta name="msapplication-TileColor" content="#F9AF48">
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="mask-icon" href="../img/icons/safari-pinned-tab.svg" color="#F9AF48">
    <meta name="theme-color" content="#F9AF48">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/aos.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <%- include('../html/freshchat') -%>
    <title>SOS Ticket</title>
    <meta name="description" content="SOS Ticket est le fier porte-parole des droits des automobilistes depuis 2006. Nous sommes les leaders en contestation d’infractions.">
</head>

<body>
    <%- include('../html/en_header') -%>
    <main id="mainContent">
        <!-- jumbotron -->
        <img class="img-fluid d-block d-sm-none" src="../img/photos/man-driving-inside-car.jpg" alt="person driving a car" aria-hidden="true">
        <section class="megatron">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-lg-6 ml-auto">
                        <div class="panel shadow" data-aos="fade-in" data-aos-duration="1500">
                            <h2>Got a ticket?</h2>
                            <p>Proud spokesperson of motorists' rights since 2006. We are the ticket contesting leaders.</p>
                            <p>More than 30,000 drivers have trusted our expertise. Be one of them!</p>
                            <a href="#question" class="btn btn-primary btn-lg btn-block shadow">Start</a>
                            <p class="small mt-4 mb-0">What are my chances of winning? <a href="tel:5144484911">Call 514-448-4911</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- wizard -->
        <section class="wizard" id="mainContent">
            <div class="container text-center">
                <div class="row" id="question">
                    <div class="col-lg-10 mx-auto">
                        <h2 class="mb-5">What is your offense?</h2>
                        <div class="row" data-aos="fade-up">
                            <div class="col-6 col-md-3">
                                <a href="./forfait-1-3-points.html">
                                    <div class="tile">
                                        <img src="../img/icons/traffic-light-stop-light.svg" alt="Infraction reliée aux lumières de circulation">
                                        Red light
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-3">
                                <a href="./forfait-1-3-points.html">
                                    <div class="tile">
                                        <img src="../img/icons/stop-sign.svg" alt="Infraction reliée à un signe d'arrêt">
                                        Stop Sign
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-3">
                                <a href="#!" data-toggle="modal" data-target="#questionsVitesse">
                                    <div class="tile">
                                        <img src="../img/icons/tachometer-regular.svg" alt="Infraction reliée à un excès de vitesse">
                                        Speeding
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-3">
                                <a href="./forfait-4-5-points.html">
                                    <div class="tile">
                                        <img src="../img/icons/mobile-android-alt-regular.svg" alt="Infraction reliée à un cellulaire au volant">
                                        Cell phone
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row" data-aos="fade-up">
                            <div class="col-6 col-md-3">
                                <a href="./forfait-facultes-affaiblies.html">
                                    <div class="tile">
                                        <img src="../img/icons/dui.svg" alt="Infraction reliée aux facultés affaiblies">
                                        Impaired Driving
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-3">
                                <a href="./forfait-6-points-et-plus.html">
                                    <div class="tile">
                                        <img src="../img/icons/car-crash-regular.svg" alt="Infraction reliée à un délit de fuite">
                                        Hit and Run
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-3">
                                <a href="./forfait-1-3-points.html">
                                    <div class="tile">
                                        <img src="../img/icons/grip-lines-vertical-regular.svg" alt="Infraction reliée à une ligne double">
                                        Double Line
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-3">
                                <a href="#!" data-toggle="modal" data-target="#questionsAutre">
                                    <div class="tile">
                                        <img src="../img/icons/car-regular.svg" alt="Autres infractions">
                                        Other
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row" data-aos="fade-up">
                            <div class="col-12 col-md-3">
                                <a href="./forfait-permis-suspendu.html">
                                    <div class="tile">
                                        <img src="../img/icons/id-card-regular.svg" alt="Droit criminel">
                                        Suspended License
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-md-3">
                                <a href="./forfait-droit-criminel.html">
                                    <div class="tile">
                                        <img src="../img/icons/gavel-regular.svg" alt="Droit criminel">
                                        Criminal Law
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-3">
                                <a href="./forfait-vehicules-lourds.html">
                                    <div class="tile">
                                        <img src="../img/icons/truck-moving-regular.svg" alt="Aide juridique pour les véhicules lourds">
                                        Heavy Vehicles
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-3">
                                <a href="./forfait-taxis.html">
                                    <div class="tile">
                                        <img src="../img/icons/taxi-regular.svg" alt="Aide juridique pour les taxis">
                                        Taxis
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal 1: Speed -->
            <div class="modal wizard fade" id="questionsVitesse" tabindex="-1" role="dialog" aria-labelledby="questionsVitesse" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalCenterTitle"><img src="../img/icons/tachometer-regular.svg" alt="Tachomère d'automobile" aria-hidden="true"> Speeding</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="lead">1. How many demerit points did you lose?</p>
                            <div class="btn-group btn-group-lg btn-group-toggle btn-block" data-toggle="buttons">
                                <label class="btn btn-light">
                                    <input type="radio" name="options" id="vitesse1" autocomplete="off"> 1-3
                                </label>
                                <label class="btn btn-light">
                                    <input type="radio" name="options" id="vitesse2" autocomplete="off"> 4-5
                                </label>
                                <label class="btn btn-light">
                                    <input type="radio" name="options" id="vitesse3" autocomplete="off"> 6 +
                                </label>
                            </div>
                            <p class="lead mt-3">2. Is this an excessive speeding offense?</p>
                            <div class="btn-group btn-group-lg btn-group-toggle btn-block" data-toggle="buttons">
                                <label class="btn btn-light">
                                    <input type="radio" name="options2" id="vitesseNon" autocomplete="off"> No
                                </label>
                                <label class="btn btn-light">
                                    <input type="radio" name="options2" id="vitesseOui" autocomplete="off"> Yes
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-between">
                            <button type="button" class="btn btn-outline-secondary btn-lg" data-dismiss="modal">Cancel</button>
                            <a href="#!" class="btn btn-primary btn-lg btn-block" role="button" id="next1">Next</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal 2: Other -->
            <div class="modal wizard fade" id="questionsAutre" tabindex="-1" role="dialog" aria-labelledby="questionsAutre" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalCenterTitle"><img src="../img/icons/car-regular.svg" alt="Automobile" aria-hidden="true"> Other</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="lead">1. How many demerit points did you lose?</p>
                            <div class="btn-group btn-group-lg btn-group-toggle btn-block" data-toggle="buttons">
                                <label class="btn btn-light">
                                    <input type="radio" name="options3" id="autre1" autocomplete="off"> 1-3
                                </label>
                                <label class="btn btn-light">
                                    <input type="radio" name="options3" id="autre2" autocomplete="off"> 4-5
                                </label>
                                <label class="btn btn-light">
                                    <input type="radio" name="options3" id="autre3" autocomplete="off"> 6 +
                                </label>
                            </div>
                            <p class="lead mt-3">2. Were you under the influence of drugs or alcohol?</p>
                            <div class="btn-group btn-group-lg btn-group-toggle btn-block" data-toggle="buttons">
                                <label class="btn btn-light">
                                    <input type="radio" name="options4" id="autreNon" autocomplete="off"> No
                                </label>
                                <label class="btn btn-light">
                                    <input type="radio" name="options4" id="autreOui" autocomplete="off"> yes
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-between">
                            <button type="button" class="btn btn-outline-secondary btn-lg" data-dismiss="modal">Cancel</button>
                            <a href="#!" class="btn btn-primary btn-lg btn-block" role="button" id="next2">Next</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- section vers à propos -->
        <section class="feature-1">
            <div class="container-fluid">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6 p-4">
                        <img src="../img/photos/dashboard-view-of-road.jpg" alt="car dashboard view of road" class="img-fluid rounded-lg shadow-lg" data-aos="fade-up">

                    </div>
                    <div class="col-md-6">
                        <div class="container py-4 p-md-5">
                            <h3>Prevention and awareness: our top priorities</h3>
                            <p>SOS Ticket encourages drivers to adopt responsible and safe driving. Our mission is carried out through information and education.</p>
                            <p>Would you like to have an exemplary driving record? Get familiar with the advice from our experts.</p>
                            <a href="./blogue.html">Check out our blog</a>

                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!-- section vers blogue -->
        <section class="feature-2">
            <div class="container-fluid">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6 p-4 order-md-last">
                        <img src="../img/photos/woman-shocked-rear-view-mirror.jpg" alt="woman shocked with hands on face viewed from a rearview mirror" class="img-fluid rounded-lg shadow-lg" data-aos="fade-right">

                    </div>
                    <div class="col-md-6 py-4 p-md-5">
                        <div class="container order-md-first">
                            <h3>Are your demerit points and driver's lience jeopardized?</h3>
                            <p>High speed driving, driving under the influence, using a cellphone while driving? Don't panic! </p>
                            <p>Entrust us with your case, we can help you. Consult with a member of our team for free.</p>
                            <a href="./a-propos.html">Learn more about SOS Ticket</a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- section vers faq -->
        <section class="feature-3">
            <div class="container-fluid">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6 p-4">
                        <img src="../img/photos/speeding-car-tickets-flying.jpg" alt="side view of a sports car speeding on urban road with tickets flying out of it" class="img-fluid rounded-lg shadow-lg" data-aos="fade-right">
                    </div>
                    <div class="col-md-6">
                        <div class="container py-4 p-md-5">

                            <h3>Popular questions</h3>
                            <div class="faq-accordion" id="accordionExample">
                                <!-- question 1 -->
                                <div class="faq-accordion__question" id="headingOne">
                                    <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        <span aria-hidden="true">+</span> How do I plead not guilty?
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>You can plead not guilty by answering the form that was given to you with the statement. You are not obliged to give justifications and it is even risky to do so because it could be used against you. </p>
                                        <p>It is recommended to write the mention "I request the disclosure of the proof" in the form in order to obtain the proof against you in the file. This will facilitate the process later. You will be able to transfer it all to our representatives at the opening of the file. </p>
                                        <p>Make a copy of the form, send it so that it is received within 30 days of its issuance and wait the notice from the Court informing you of the time and place of your hearing.</p>
                                    </div>
                                </div>
                                <!-- question 2 -->
                                <div class="faq-accordion__question" id="headingTwo">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <span aria-hidden="true">+</span> How can I know how many demerit points remain on my driver's license??
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Your demerit points are detailed in your driving record. To read it, it's very simple and it's done by making the request online on the following link:</p>

                                        <p><a href="https: //services.saaq.gouv.qc.ca/FonctionsWeb/StateDossierConduite.Web/" target="_blank">Request a copy of my driving record</a></p>

                                        <p>You can then send for our lawyers to advise you: <a href="mailto:nfo@sosticket.ca">info@sosticket.ca</a></p>
                                    </div>
                                </div>

                                <!-- question 3 -->
                                <div class="faq-accordion__question" id="headingThree">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <span aria-hidden="true">+</span> How long do my offenses remain on my driver's license?
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Two years from the time you plead guilty to the offenses. However, for excessive speeding, registration remains for 10 years from that time.</p>
                                    </div>
                                </div>

                                <!-- question 4 -->
                                <div class="faq-accordion__question" id="headingFour">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        <span aria-hidden="true">+</span> Is it worth contesting a ticket??
                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>It is worthwhile to contest a ticket only when there is a valid reason to believe that the law has not been respected, that the techniques used by the police officer are not in accordance with the law, or that you simply did not commit the offense for which you are charged. It is not every ticket that can be contested, and we do not encourage to do so unless the circumstances are appropriate. For example, the legal costs must be worth it in relation to the points and the fine that are at stake. Call us to find out more about your particular situation, it will be our pleasure to direct you.</p>
                                    </div>
                                </div>
                                <!-- question 5 -->
                                <div class="faq-accordion__question" id="headingFive">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        <span aria-hidden="true">+</span> Is it necessary to provide an explanation at the specified area on the ticket when pleading not guilty?
                                    </a>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>You do not have to give justifications and it is even risky to do so because it could be used against you.</p>
                                    </div>
                                </div>



                            </div>
                            <a href="./faq.html">Visit our FAQ page.</a>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!-- section media -->
        <section class="media">
            <div class="container">
                <h3>As seen in the media</h3>
                <div class="row">
                    <div class="col-md-6" data-aos="fade-in">
                        <a href="https://twitter.com/IsabelleRicher/status/1115294550069657608?ref_src=twsrc%5Etfw&ref_url=notion%3A%2F%2Fwww.notion.so%2Floogart%2FNew-Website-UX-a96b3e8aa75b4322b106d2291b805ef8" target="_blank">
                            <div class="card mb-4 shadow-sm">
                                <div class="row no-gutters">
                                    <div class="col-lg-6">
                                        <img src="../img/screenshots/Image%2026.png" class="card-img" alt="Me Thierry Rassam en entrevue avec Mme Isabelle Richer.">
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card-body">
                                            <img class="media-logo" src="../img/logos/logo-ici.jpg" alt="ici tv logo">
                                            <div class="d-flex flex-column">
                                                <h5 class="card-title">Cellphone while driving</h5>
                                                <p class="card-text">Mr. Thierry Rassam, in interview with Mrs. Isabelle Richer.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-md-6" data-aos="fade-in">
                        <a href="https://montreal.ctvnews.ca/should-the-city-pay-for-pothole-damage-to-your-car-the-opposition-thinks-so-1.4333128" target="_blank">
                            <div class="card mb-4 shadow-sm">
                                <div class="row no-gutters">
                                    <div class="col-lg-6">
                                        <img src="../img/screenshots/Image%2034.png" class="card-img" alt="Me Frédérique Bossé, in interview with CTV">
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card-body">
                                            <img class="media-logo" src="../img/logos/logo-ctv.jpg" alt="ctv news logo">
                                            <div class="d-flex flex-column">
                                                <h5 class="card-title">Damages by Potholes</h5>
                                                <p class="card-text">Mrs. Frédérique Bossé, in interview with CTV</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-md-6" data-aos="fade-in">
                        <a href="https://ici.radio-canada.ca/nouvelle/1121419/amende-contravention-stationnement-ticket-infraction-ville-quebec-longueuil" target="_blank">
                            <div class="card mb-4 shadow-sm">
                                <div class="row no-gutters">
                                    <div class="col-lg-6">
                                        <img src="../img/screenshots/Image%2035.png" class="card-img" alt="Me Thierry Rassam, entrevue à Radio-Canada">
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card-body">
                                            <img class="media-logo" src="../img/logos/logo-cbc.jpg" alt="ici tv logo">
                                            <div class="d-flex flex-column">
                                                <h5 class="card-title">The exaggerated costs of parking tickets</h5>
                                                <p class="card-text">Mr. Thierry Rassam, interview on Radio-Canada</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-md-6" data-aos="fade-in">
                        <a href="https://ici.radio-canada.ca/nouvelle/1111662/code-securite-routiere-apprentis-conducteurs-constats" target="_blank">
                            <div class="card mb-4 shadow-sm">
                                <div class="row no-gutters">
                                    <div class="col-lg-6">
                                        <img src="../img/screenshots/Image%2036.png" class="card-img" alt="Me Jimmy Marcotte, en entrevue à Radio-Canada">
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card-body">
                                            <img class="media-logo" src="../img/logos/logo-ici.jpg" alt="ici tv logo">
                                            <div class="d-flex flex-column">
                                                <h5 class="card-title">Accident on the road</h5>
                                                <p class="card-text">Mr. Jimmy Marcotte, interview on Radio-Canada</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-8 mx-auto">
                        <div class="row mt-5">
                            <div class="col-6 col-sm-3 mb-3" data-aos="fade-up">
                                <img class="img-fluid" src="../img/logos/logo-ctv.jpg" alt="ctv news">
                            </div>
                            <div class="col-6 col-sm-3 mb-3" data-aos="fade-up">
                                <img class="img-fluid" src="../img/logos/logo-lcn.jpg" alt="lcn">
                            </div>
                            <div class="col-6 col-sm-3 mb-3" data-aos="fade-up">
                                <img class="img-fluid" src="../img/logos/logo-lapresse.jpg" alt="la presse">
                            </div>
                            <div class="col-6 col-sm-3 mb-3" data-aos="fade-up">
                                <img class="img-fluid" src="../img/logos/logo-ici.jpg" alt="ici tv">
                            </div>
                            <div class="col-6 col-sm-3 mb-3" data-aos="fade-up">
                                <img class="img-fluid" src="../img/logos/logo-tva.jpg" alt="tva">
                            </div>
                            <div class="col-6 col-sm-3 mb-3" data-aos="fade-up">
                                <img class="img-fluid" src="../img/logos/logo-jdm.jpg" alt="journal de montréal">
                            </div>
                            <div class="col-6 col-sm-3 mb-3" data-aos="fade-up">
                                <img class="img-fluid" src="../img/logos/logo-gazette.jpg" alt="the gazette">
                            </div>
                            <div class="col-6 col-sm-3 mb-3" data-aos="fade-up">
                                <img class="img-fluid" src="../img/logos/logo-cbc.jpg" alt="cbc news">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>

        <!-- section final cta -->
        <section class="cta">
            <div class="container text-center" style="max-width:767px">
                <h3>"To err is<br class="d-block d-sm-none"> human!"</h3>
                <p>A famous quote that does not prevent human error from having serious consequences sometimes...</p>
                <p>Considering that each case is unique and deserves to be heard, SOS Ticket takes the time to analyze the context of each offense, its objective seriousness as well as its impact in the life of the person who committed it.</p>
                <p>In fact, it is this approach that explains why for over 13 years, thousands of drivers have trusted SOS Ticket to assert their rights.</p>
                <p>Encouraging motorists to adopt a safe and responsible way to drive, prevention and awareness are at the heart of our priorities.</p>
                <p>Our ultimate Mission?</p>
                <p>Helping you keeping a clean driving record and ... Not seeing you again too often!</p>
                <p><a href="tel:5144484911" class="btn btn-primary mt-2 shadow">Talk to a lawyer</a></p>
                <p><a href="./contactez-nous.html">Contact us</a></p>
            </div>
        </section>
    </main>
    <%- include('../html/en_footer') -%>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../js/aos.js"></script>
    <script src="../js/scripts.js"></script>
    <script>
        window.onload = function() {
            $('#translation').attr("href", "../");
        };
    </script>
</body></html>
