<!doctype html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="./img/logos/favicon.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="SOS TIcket">
    <link rel="apple-touch-icon-precomposed" href="./img/favicon.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="./img/favicon.png">
    <meta name="msapplication-TileColor" content="#F9AF48">
    <link rel="shortcut icon" href="./img/favicon.png">
    <link rel="mask-icon" href="./img/icons/safari-pinned-tab.svg" color="#F9AF48">
    <meta name="theme-color" content="#F9AF48">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/custom.css">
    <link rel="stylesheet" href="./css/aos.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <%- include('html/freshchat') -%>
    <title>Contactez-nous | SOS Ticket</title>
    <meta name="description" content="SOS Ticket est le fier porte-parole des droits des automobilistes depuis 2006. Nous sommes les leaders en contestation d’infractions.">
</head>

<body>
    <%- include('html/fr_header') -%>
    <main id="mainContent">

        <section class="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <h2>Contactez-nous</h2>
                        <form class="mt-4 needs-validation" id="contact-form" novalidate>

                            <div class="form-row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="lastName">Nom*</label>
                                        <input type="text" id="lastName" name="nom" class="form-control form-control-lg" placeholder="Nom" autofocus="" required>
                                        <div class="invalid-feedback">
                                            Inscrivez votre nom de famille.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="FirstName">Prénom*</label>
                                        <input type="text" id="FirstName" name="prenom" class="form-control form-control-lg" placeholder="Prénom" required>
                                        <div class="invalid-feedback">
                                            Inscrivez votre prénom.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="inputEmail">Adresse courriel*</label>
                                        <input type="email" id="inputEmail" name="email" class="form-control form-control-lg" placeholder="votrenom@courriel.com" required>
                                        <div class="invalid-feedback">
                                            Inscrivez votre adresse courriel.
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="inputPhone">Numéro de téléphone*</label>
                                        <input type="text" id="inputPhone" name="phone" class="form-control form-control-lg" placeholder="(514) 333-4499" required>
                                        <div class="invalid-feedback">
                                            Inscrivez votre numéro de téléphone.
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="yourMessage">Votre message*</label>
                                <textarea class="form-control form-control-lg" name="message" id="yourMessage" rows="5" placeholder="Tapez votre message ici..." required></textarea>
                                <div class="invalid-feedback">
                                    Décrivez votre situation ou le sujet de votre demande.
                                </div>
                            </div>

                            <p class="font-weight-bold mb-2">Période de rappel*</label>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="timeContact" class="custom-control-input" value="8:00-12:00">
                                    <label class="custom-control-label font-weight-light" for="customRadio1">Matin (Entre 8:00-12:00)</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="timeContact" class="custom-control-input"  value="13:00-17:00" required>
                                    <label class="custom-control-label font-weight-light" for="customRadio2" required>Après-midi (Entre 13:00-17:00)</label>
                                    <div class="invalid-feedback">
                                        Choisissez le meilleur moment pour vous contacter.
                                    </div>
                                </div>

                                <div class="card mt-4 mb-3">
                                    <div class="card-body">
                                        <p class="h5 mb-3">Informations optionnelles</p>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <p class="font-weight-bold mb-2">Date de naissance</p>
                                                <div class="form-row">
                                                    <div class="col-3">
                                                        <select class="custom-select custom-select-lg mb-3" name="dob_day">
                                                            <option selected>Jour</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            <option value="10">10</option>
                                                            <option value="11">11</option>
                                                            <option value="12">12</option>
                                                            <option value="13">13</option>
                                                            <option value="14">14</option>
                                                            <option value="15">15</option>
                                                            <option value="16">16</option>
                                                            <option value="17">17</option>
                                                            <option value="18">18</option>
                                                            <option value="19">19</option>
                                                            <option value="20">20</option>
                                                            <option value="21">21</option>
                                                            <option value="22">22</option>
                                                            <option value="23">23</option>
                                                            <option value="24">24</option>
                                                            <option value="25">25</option>
                                                            <option value="26">26</option>
                                                            <option value="27">27</option>
                                                            <option value="28">28</option>
                                                            <option value="29">29</option>
                                                            <option value="30">30</option>
                                                            <option value="31">31</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-5">
                                                        <select class="custom-select custom-select-lg mb-3" name='dob_month'>
                                                            <option selected>Mois</option>
                                                            <option value="1">Janvier</option>
                                                            <option value="2">Février</option>
                                                            <option value="3">Mars</option>
                                                            <option value="4">Avril</option>
                                                            <option value="5">Mai</option>
                                                            <option value="6">Juin</option>
                                                            <option value="7">Juillet</option>
                                                            <option value="8">Août</option>
                                                            <option value="9">Septembre</option>
                                                            <option value="10">Octobre</option>
                                                            <option value="11">Novembre</option>
                                                            <option value="12">Décembre</option>
                                                        </select>
                                                    </div>
                                                    <div class="col">
                                                        <select class="custom-select custom-select-lg mb-3" name='dob_year'>
                                                            <option selected>Année</option>
                                                            <option value="2003">2003</option>
                                                            <option value="2002">2002</option>
                                                            <option value="2001">2001</option>
                                                            <option value="2000">2000</option>
                                                            <option value="1999">1999</option>
                                                            <option value="1998">1998</option>
                                                            <option value="1997">1997</option>
                                                            <option value="1996">1996</option>
                                                            <option value="1995">1995</option>
                                                            <option value="1994">1994</option>
                                                            <option value="1993">1993</option>
                                                            <option value="1992">1992</option>
                                                            <option value="1991">1991</option>
                                                            <option value="15">...</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="licenseNumber">Numéro de permis de conduire</label>
                                                    <input type="text" name="permis" id="licenseNumber" class="form-control form-control-lg" placeholder="A1234-123456-01">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="infractionType">Type d'infraction</label>
                                                    <input type="text" name="infractionType" id="infractionType" class="form-control form-control-lg" placeholder="Ex. Vitesse, droit criminel...">
                                                </div>
                                            </div>
                                            <!-- <div class="col-lg-6">
                                                <p class="font-weight-bold mb-2">Photo du ticket</p>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="customFile">
                                                    <label class="custom-file-label" for="customFile">Sélectionner</label>
                                                </div>
                                            </div> -->
                                        </div>

                                    </div>
                                </div>
                        </form>
                        <button class="btn btn-lg btn-primary btn-block mt-4 shadow" id="btn-submit-contact-form" ><i class="fas fa-lock"></i>&nbsp;Soumettre</button>
                    </div>
                </div>

                <div class="row">
                  <div class="col-md-8 mx-auto">
                    <br/><br/>
                    <h3 >Ou rejoignez-nous ici:</h3>
                    <p>Lundi-vendredi, 9h-17h<br>
                      <a href="https://goo.gl/maps/4aq4rqKnd3YEXeTx5" target="_blank">204 rue Notre Dame Ouest, Suite 350  <br> Montreal, QC H2J 1T3</a>
                      <br><a href="tel:5144484911">Tel.: (514) 448-4911</a>
                      <br><a href="tel:18444100101">Tél.: 1 (844)-410-0101</a>
                      <br><a href="mailto:info@sosticket.com">Courriel: info@sosticket.com</a>
                    </p>
                  </div>
                </div>


            </div>

        </section>

    </main>
    <%- include('html/fr_footer') -%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./js/aos.js"></script>
    <script src="./js/config.js"></script>
    <script src="./js/scripts.js"></script>
    <script>
      window.onload = function() {
          document.getElementById('connect').classList.add("active");
          // document.getElementById('contact').classList.add("active");
          $('#translation').attr("href", "./en/contactez-nous.html");
      };
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        // (function() {
        //     'use strict';
        //     window.addEventListener('load', function() {
        //         // Fetch all the forms we want to apply custom Bootstrap validation styles to
        //         var forms = document.getElementsByClassName('needs-validation');
        //         // Loop over them and prevent submission
        //         var validation = Array.prototype.filter.call(forms, function(form) {
        //             form.addEventListener('submit', function(event) {
        //                 if (form.checkValidity() === false) {
        //                     event.preventDefault();
        //                     event.stopPropagation();
        //                 }
        //                 form.classList.add('was-validated');
        //             }, false);
        //         });
        //     }, false);
        // })();

    </script>
</body>

</html>
