<!doctype html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="./img/logos/favicon.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="SOS TIcket">
    <link rel="apple-touch-icon-precomposed" href="./img/favicon.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="./img/favicon.png">
    <meta name="msapplication-TileColor" content="#F9AF48">
    <link rel="shortcut icon" href="./img/favicon.png">
    <link rel="mask-icon" href="./img/icons/safari-pinned-tab.svg" color="#F9AF48">
    <meta name="theme-color" content="#F9AF48">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/custom.css">
    <link rel="stylesheet" href="./css/aos.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <%- include('html/freshchat') -%>
    <title>SOS Ticket - Avocats spécialisés en tickets sur la route et en facultés affaiblies</title>
    <meta name="description" content="SOS Ticket est le fier porte-parole des droits des automobilistes depuis 2006. Nous sommes les leaders en contestation d’infractions.">
</head>


<body>
   <%- include('html/fr_header') -%>

    <main id="mainContent">
        <!-- jumbotron -->
        <img class="img-fluid d-block d-sm-none" src="./img/photos/man-driving-inside-car.jpg" alt="person driving a car" aria-hidden="true">
        <section class="megatron">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-lg-6 ml-auto">
                        <div class="panel shadow" data-aos="fade-in" data-aos-duration="1500">
                            <h2>Un ticket?</h2>
                            <p>Fier porte-parole des droits des automobilistes depuis 2006. Nous sommes les leaders en contestation d’infractions. </p>
                            <p>Plus de 30 000 conducteurs ont fait confiance à notre expertise. Faites comme eux!</p>
                            <a href="#question" class="btn btn-primary btn-lg btn-block shadow">Débuter</a>
                            <p class="small mt-4 mb-0">Quelles sont mes chances de gagner? <a href="tel:5144484911">Appelez 514-448-4911</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- wizard -->
        <section class="wizard" id="mainContent">
            <div class="container text-center">
                <div class="row" id="question">
                    <div class="col-lg-10 mx-auto">
                        <h2 class="mb-5">Quelle est votre infraction?</h2>
                        <div class="row" data-aos="fade-up">
                            <div class="col-6 col-md-3">
                                <a class="tile-wrapper" href="./forfait-1-3-points.html">
                                    <div class="tile">
                                        <img src="./img/icons/traffic-light-stop-light.svg" alt="Infraction reliée aux lumières de circulation">
                                        Feu rouge
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-3">
                                <a class="tile-wrapper" href="./forfait-1-3-points.html">
                                    <div class="tile">
                                        <img src="./img/icons/stop-sign.svg" alt="Infraction reliée à un signe d'arrêt">
                                        Stop
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-3">
                                <a class="tile-wrapper" href="#!" data-toggle="modal" data-target="#questionsVitesse">
                                    <div class="tile">
                                        <img src="./img/icons/tachometer-regular.svg" alt="Infraction reliée à un excès de vitesse">
                                        Vitesse
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-3">
                                <a class="tile-wrapper" href="./forfait-4-5-points.html">
                                    <div class="tile">
                                        <img src="./img/icons/mobile-android-alt-regular.svg" alt="Infraction reliée à un cellulaire au volant">
                                        Cellulaire
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row" data-aos="fade-up">
                            <div class="col-6 col-md-3">
                                <a class="tile-wrapper" href="./forfait-facultes-affaiblies.html">
                                    <div class="tile">
                                        <img src="./img/icons/dui.svg" alt="Infraction reliée aux facultés affaiblies">
                                        Facultés affaiblies
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-3">
                                <a class="tile-wrapper" href="./forfait-6-points-et-plus.html">
                                    <div class="tile">
                                        <img src="./img/icons/car-crash-regular.svg" alt="Infraction reliée à un délit de fuite">
                                        Délit de fuite
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-3">
                                <a class="tile-wrapper" href="./forfait-1-3-points.html">
                                    <div class="tile">
                                        <img src="./img/icons/grip-lines-vertical-regular.svg" alt="Infraction reliée à une ligne double">
                                        Ligne double
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-3">
                                <a class="tile-wrapper" href="#!" data-toggle="modal" data-target="#questionsAutre">
                                    <div class="tile">
                                        <img src="./img/icons/car-regular.svg" alt="Autres infractions">
                                        Autre
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row" data-aos="fade-up">
                            <div class="col-12 col-md-3">
                                <a class="tile-wrapper" href="./forfait-permis-suspendu.html">
                                    <div class="tile">
                                        <img src="./img/icons/id-card-regular.svg" alt="Droit criminel">
                                        Permis suspendu
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-md-3">
                                <a class="tile-wrapper" href="./forfait-droit-criminel.html">
                                    <div class="tile">
                                        <img src="./img/icons/gavel-regular.svg" alt="Droit criminel">
                                        Droit criminel
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-3">
                                <a class="tile-wrapper" href="./forfait-vehicules-lourds.html">
                                    <div class="tile">
                                        <img src="./img/icons/truck-moving-regular.svg" alt="Aide juridique pour les véhicules lourds">
                                        Véhicules lourds
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-3">
                                <a class="tile-wrapper" href="./forfait-taxis.html">
                                    <div class="tile">
                                        <img src="./img/icons/taxi-regular.svg" alt="Aide juridique pour les taxis">
                                        Taxis
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row" data-aos="fade-up">
                            <div class="col-12 col-md-3">
                                <a class="tile-wrapper" href="./forfait-retractation-de-jugement.html">
                                    <div class="tile">
                                        <img src="./img/icons/balance.svg" alt="Rétractation de jugement">
                                        Rétractation de jugement
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-md-3">
                                <a class="tile-wrapper" href="./forfait-permis-restreint.html">
                                    <div class="tile">
                                        <img src="./img/icons/car-bus.svg" alt="Permis restreint pour travail">
                                        Permis restreint pour travail
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-3">
                                <a class="tile-wrapper" href="./forfait-mainlevee-de-la-saisie-de-vehicule.html">
                                    <div class="tile">
                                        <img src="./img/icons/key-regular.svg" alt="Mainlevée de la saisie d’un véhicule">
                                        Mainlevée de la saisie d’un véhicule
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-3">
                                <a class="tile-wrapper" href="./forfait-retrait-de-plaidoyer.html">
                                    <div class="tile">
                                        <img src="./img/icons/undo-regular.svg" alt="Retrait de plaidoyer">
                                        Retrait de plaidoyer
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal 1: Speed -->
            <div class="modal wizard fade" id="questionsVitesse" tabindex="-1" role="dialog" aria-labelledby="questionsVitesse" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalCenterTitle"><img src="./img/icons/tachometer-regular.svg" alt="Tachomère d'automobile" aria-hidden="true"> Vitesse</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                          <form id="speeding-form">
                            <p class="lead">1. Combien de points avez-vous perdu?</p>
                            <div class="btn-group btn-group-lg btn-group-toggle btn-block" data-toggle="buttons">
                                <label class="btn btn-light active">
                                    <input type="radio" name="speedingFormPoints" value="1-3" id="autre1" autocomplete="off" checked> 1-3
                                </label>
                                <label class="btn btn-light">
                                    <input type="radio" name="speedingFormPoints" value="4-5" id="autre2" autocomplete="off" > 4-5
                                </label>
                                <label class="btn btn-light">
                                    <input type="radio" name="speedingFormPoints" value="6 +" id="autre3" autocomplete="off"> 6 +
                                </label>
                            </div>
                            <p class="lead mt-3">2. S’agit—il d’un Grand Excès de vitesse?</p>
                            <div class="btn-group btn-group-lg btn-group-toggle btn-block" data-toggle="buttons">
                                <label class="btn btn-light active">
                                    <input type="radio" name="speedingFormExcessSpeeding" id="autreNon" autocomplete="off" value=false checked> Non
                                </label>
                                <label class="btn btn-light">
                                    <input type="radio" name="speedingFormExcessSpeeding" id="option5" autocomplete="off" value=true > Oui
                                </label>
                            </div>
                        </div>
                      </form>
                        <div class="modal-footer d-flex justify-content-between">
                            <button type="button" class="btn btn-outline-secondary btn-lg" data-dismiss="modal">Annuler</button>
                            <a href="#!" class="btn btn-primary btn-lg" role="button" id="btn-submit-speeding-form">Suivant&nbsp;<i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal 2: Other -->
            <div class="modal wizard fade" id="questionsAutre" tabindex="-1" role="dialog" aria-labelledby="questionsAutre" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalCenterTitle"><img src="./img/icons/car-regular.svg" alt="Automobile" aria-hidden="true"> Autre</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                          <form id="other-infraction-form">
                            <p class="lead">1. Combien de points avez-vous perdu?</p>
                            <div class="btn-group btn-group-lg btn-group-toggle btn-block" data-toggle="buttons">
                                <label class="btn btn-light active">
                                    <input type="radio" name="otherInfractionFormPoints" id="option1" autocomplete="off" value="1-3"  checked> 1-3
                                </label>
                                <label class="btn btn-light">
                                    <input type="radio" name="otherInfractionFormPoints" id="option2" autocomplete="off" value="4-5"> 4-5
                                </label>
                                <label class="btn btn-light">
                                    <input type="radio" name="otherInfractionFormPoints" id="option3" autocomplete="off" value="6 +"> 6 +
                                </label>
                            </div>
                            <p class="lead mt-3">2. Étiez-vous sous l'influence de drogue ou d'alcohol?</p>
                            <div class="btn-group btn-group-lg btn-group-toggle btn-block" data-toggle="buttons">
                                <label class="btn btn-light ">
                                    <input type="radio" name="otherInfractionFormDrugs" id="option5" autocomplete="off" value=true > Oui
                                </label>
                                <label class="btn btn-light active">
                                    <input type="radio" name="otherInfractionFormDrugs" id="option6" autocomplete="off" value=false checked> Non
                                </label>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer d-flex justify-content-between">
                            <button type="button" class="btn btn-outline-secondary btn-lg" data-dismiss="modal">Annuler</button>
                            <a href="#!" class="btn btn-primary btn-lg" role="button" id="btn-submit-other-infraction-form">Suivant&nbsp;<i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- section vers à propos -->
        <section class="feature-1">
            <div class="container-fluid">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6 p-4">
                        <img src="./img/photos/dashboard-view-of-road.jpg" alt="car dashboard view of road" class="img-fluid rounded-lg shadow-lg" data-aos="fade-up">

                    </div>
                    <div class="col-md-6">
                        <div class="container py-4 p-md-5">
                            <h3>La prévention et la sensibilisation: au cœur de nos priorités !</h3>
                            <p>SOS Ticket encourage les automobilistes à adopter une conduite responsable et sécuritaire. Notre mission passe par l’information et l’éducation.</p>
                            <p>Vous aimeriez avoir un dossier de conduite exemplaire? Profitez des conseils de nos experts pour savoir quoi faire.</p>
                            <a href="./blogue.html">Consultez notre blogue</a>

                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!-- section vers blogue -->
        <section class="feature-2">
            <div class="container-fluid">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6 p-4 order-md-last">
                        <img src="./img/photos/woman-shocked-rear-view-mirror.jpg" alt="woman shocked with hands on face viewed from a rearview mirror" class="img-fluid rounded-lg shadow-lg" data-aos="fade-right">

                    </div>
                    <div class="col-md-6 py-4 p-md-5">
                        <div class="container order-md-first">
                            <h3>Voulez-vous sauver vos points d’inaptitude?</h3>
                            <p>Grand excès de vitesse, facultés affaiblies, cellulaire au volant? Pas de panique! </p>
                            <p>Confiez-nous votre dossier, on peut vous aider. Consultez gratuitement un membre de notre équipe.</p>
                            <a href="./a-propos.html">En savoir plus sur SOS Ticket</a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- section vers faq -->
        <section class="feature-3">
            <div class="container-fluid">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6 p-4">
                        <img src="./img/photos/speeding-car-tickets-flying.jpg" alt="side view of a sports car speeding on urban road with tickets flying out of it" class="img-fluid rounded-lg shadow-lg" data-aos="fade-right">
                    </div>
                    <div class="col-md-6">
                        <div class="container py-4 p-md-5">

                            <h3>Questions populaires</h3>
                            <div class="faq-accordion" id="accordionExample">
                                <!-- question 1 -->
                                <div class="faq-accordion__question" id="headingOne">
                                    <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        <span aria-hidden="true">+</span> Comment plaider non coupable&nbsp;?
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Vous pouvez plaider non-coupable en répondant au formulaire qui vous a été remis avec le constat. Vous n’êtes pas obligés de donner des justifications et il est même risqué de le faire car ce pourrait être utilisé contre vous.</p>

                                        <p>Il est recommandé d’écrire la mention « Je demande la divulgation de la preuve » dans le formulaire afin d’obtenir les éléments de preuve tenus contre vous dans le dossier. Cela facilitera le processus plus tard. Vous pourrez transférer le tout à nos représentants pour en prendre connaissance lors de l’ouverture du dossier.</p>

                                        <p>Faîtes une copie du formulaire, envoyez-le pour qu’il soit reçu dans les 30 jours de son émission et attendez l’avis de la Cour vous informant du temps et du lieu de votre audition.</p>
                                    </div>
                                </div>
                                <!-- question 2 -->
                                <div class="faq-accordion__question" id="headingTwo">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <span aria-hidden="true">+</span> Comment savoir combien de points reste sur le permis de conduire&nbsp;?
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Vos points d’inaptitudes sont détaillés dans votre dossier de conduite. Pour en prendre connaissance, c’est tout simple et ça se fait en faisant la demande en ligne sur le lien suivant :</p>
                                        <p><a href="https://services.saaq.gouv.qc.ca/FonctionsWeb/EtatDossierConduite.Web/" target="_blank">Demander une copie du dossier de ma conduite</a></p>

                                        <p>Vous pouvez ensuite nous l’envoyer pour que nos avocats vous conseillent : <a href="mailto:nfo@sosticket.ca">info@sosticket.ca</a></p>
                                    </div>
                                </div>

                                <!-- question 3 -->
                                <div class="faq-accordion__question" id="headingThree">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <span aria-hidden="true">+</span> Combien de temps mes infractions subsistent-elles sur mon permis de conduire&nbsp;?
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Deux ans à partir du moment où on plaide coupable en ce qui a trait aux infractions. Cependant, pour les grands excès de vitesse, l’inscription reste pour 10 ans à partir de ce moment.</p>
                                    </div>
                                </div>

                                <!-- question 4 -->
                                <div class="faq-accordion__question" id="headingFour">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        <span aria-hidden="true">+</span> Est-ce que ça vaut la peine de contester un ticket&nbsp;?
                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Il ne vaut la peine de contester un ticket que lorsqu’il y a un motif valide de croire que la loi n’a pas été respectée, que les techniques utilisées par l’agent de la paix ne sont pas conformes à la loi ou que vous n’avez tout simplement pas commis l’infraction pour laquelle vous êtes accusée. Ce n’est pas tout ticket qui peut être contesté, et nous n’encourageons d’ailleurs de le faire que si les circonstances sont appropriées. Par exemple, il faut que le coût de contestation en vaille la peine par rapport aux points et à l’amende qui sont en jeu. Appelez-nous pour en savoir plus sur votre situation particulière, il nous fera plaisir de vous diriger.</p>
                                    </div>
                                </div>
                                <!-- question 5 -->
                                <div class="faq-accordion__question" id="headingFive">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        <span aria-hidden="true">+</span> Est-il nécessaire de fournir des explications à l'endroit prévu sur le constat lorsque l'on plaide non coupable&nbsp;?
                                    </a>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Vous n’êtes pas obligés de donner des justifications et il est même risqué de le faire car ce pourrait être utilisé contre vous.</p>
                                    </div>
                                </div>



                            </div>
                            <a href="./faq.html">Consulter la foire aux questions</a>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!-- section media -->
        <section class="media">
            <div class="container">
                <h3>Tel que vu dans les médias</h3>
                <div class="row">
                    <div class="col-md-6" data-aos="fade-in">
                        <a href="https://twitter.com/IsabelleRicher/status/1115294550069657608?ref_src=twsrc%5Etfw&ref_url=notion%3A%2F%2Fwww.notion.so%2Floogart%2FNew-Website-UX-a96b3e8aa75b4322b106d2291b805ef8" target="_blank">
                            <div class="card mb-4 shadow-sm">
                                <div class="row no-gutters">
                                    <div class="col-lg-6">
                                        <img src="./img/screenshots/Image%2026.png" class="card-img" alt="Me Thierry Rassam en entrevue avec Mme Isabelle Richer.">
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card-body">
                                            <img class="media-logo" src="./img/logos/logo-ici.jpg" alt="ici tv logo">
                                            <div class="d-flex flex-column">
                                                <h5 class="card-title">Cellulaire au volant</h5>
                                                <p class="card-text">Me Thierry Rassam en entrevue avec Mme Isabelle Richer.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-md-6" data-aos="fade-in">
                        <a href="https://montreal.ctvnews.ca/should-the-city-pay-for-pothole-damage-to-your-car-the-opposition-thinks-so-1.4333128" target="_blank">
                            <div class="card mb-4 shadow-sm">
                                <div class="row no-gutters">
                                    <div class="col-lg-6">
                                        <img src="./img/screenshots/Image%2034.png" class="card-img" alt="Me Frédérique Bossé, in interview with CTV">
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card-body">
                                            <img class="media-logo" src="./img/logos/logo-ctv.jpg" alt="ctv news logo">
                                            <div class="d-flex flex-column">
                                                <h5 class="card-title">Dommages causés par les nids de poule</h5>
                                                <p class="card-text">Me Frédérique Bossé, en entrevue avec CTV</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-md-6" data-aos="fade-in">
                        <a href="https://ici.radio-canada.ca/nouvelle/1121419/amende-contravention-stationnement-ticket-infraction-ville-quebec-longueuil" target="_blank">
                            <div class="card mb-4 shadow-sm">
                                <div class="row no-gutters">
                                    <div class="col-lg-6">
                                        <img src="./img/screenshots/Image%2035.png" class="card-img" alt="Me Thierry Rassam, entrevue à Radio-Canada">
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card-body">
                                            <img class="media-logo" src="./img/logos/logo-cbc.jpg" alt="ici tv logo">
                                            <div class="d-flex flex-column">
                                                <h5 class="card-title">Les coûts exagérés des billets de stationnement</h5>
                                                <p class="card-text">Me Thierry Rassam, entrevue à Radio-Canada</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-md-6" data-aos="fade-in">
                        <a href="https://ici.radio-canada.ca/nouvelle/1111662/code-securite-routiere-apprentis-conducteurs-constats" target="_blank">
                            <div class="card mb-4 shadow-sm">
                                <div class="row no-gutters">
                                    <div class="col-lg-6">
                                        <img src="./img/screenshots/Image%2036.png" class="card-img" alt="Me Jimmy Marcotte, en entrevue à Radio-Canada">
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card-body">
                                            <img class="media-logo" src="./img/logos/logo-ici.jpg" alt="ici tv logo">
                                            <div class="d-flex flex-column">
                                                <h5 class="card-title">Accident sur la route</h5>
                                                <p class="card-text">Me Jimmy Marcotte, en entrevue à Radio-Canada</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-8 mx-auto">
                        <div class="row mt-5">
                            <div class="col-6 col-sm-3 mb-3" data-aos="fade-up">
                                <img class="img-fluid" src="./img/logos/logo-ctv.jpg" alt="ctv news">
                            </div>
                            <div class="col-6 col-sm-3 mb-3" data-aos="fade-up">
                                <img class="img-fluid" src="./img/logos/logo-lcn.jpg" alt="lcn">
                            </div>
                            <div class="col-6 col-sm-3 mb-3" data-aos="fade-up">
                                <img class="img-fluid" src="./img/logos/logo-lapresse.jpg" alt="la presse">
                            </div>
                            <div class="col-6 col-sm-3 mb-3" data-aos="fade-up">
                                <img class="img-fluid" src="./img/logos/logo-ici.jpg" alt="ici tv">
                            </div>
                            <div class="col-6 col-sm-3 mb-3" data-aos="fade-up">
                                <img class="img-fluid" src="./img/logos/logo-tva.jpg" alt="tva">
                            </div>
                            <div class="col-6 col-sm-3 mb-3" data-aos="fade-up">
                                <img class="img-fluid" src="./img/logos/logo-jdm.jpg" alt="journal de montréal">
                            </div>
                            <div class="col-6 col-sm-3 mb-3" data-aos="fade-up">
                                <img class="img-fluid" src="./img/logos/logo-gazette.jpg" alt="the gazette">
                            </div>
                            <div class="col-6 col-sm-3 mb-3" data-aos="fade-up">
                                <img class="img-fluid" src="./img/logos/logo-cbc.jpg" alt="cbc news">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>

        <!-- section final cta -->
        <section class="cta">
            <div class="container text-center" style="max-width:767px">
                <h3>« L’erreur est<br class="d-block d-sm-none"> humaine ! »</h3>
                <p>Un célèbre proverbe qui n’empêche pas l’erreur humaine de parfois être lourde de conséquences… </p>
                <p>Considérant que chaque cas est unique et qu’il mérite d’être entendu, SOS Ticket prend le temps de bien analyser le contexte de chaque infraction, sa gravité objective ainsi que son impact dans la vie de celui ou celle qui l’a commise. </p>
                <p>C’est d’ailleurs cette approche qui explique pourquoi depuis plus de 13 ans, des milliers d’automobilistes font confiance à SOS Ticket afin de faire valoir leurs droits.</p>
                <p>Encourageant les automobilistes à adopter une conduite sécuritaire et responsable, la prévention et la sensibilisation sont au cœur de nos priorités.</p>
                <p>Notre mission ultime?</p>
                <p> Vous aider à garder un bon dossier de conduite et… Ne pas vous revoir trop souvent!</p>
                <p><a href="tel:5144484911" class="btn btn-primary mt-2 shadow">Parler à un avocat</a></p>
                <p><a href="./contactez-nous.html">Contactez-nous</a></p>
            </div>
        </section>
    </main>
    <!-- <div id="frFooter"></div> -->
    <%- include('html/fr_footer') -%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./js/scripts.js"></script>
    <script src="./js/aos.js"></script>
    <script src="./js/scripts.js"></script>
    <script>
        window.onload = function() {
            $('#translation').attr("href", "./en");
        };
    </script>
</body></html>
