// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,900&display=swap');

// Required
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";


// Re-define BS colors
$blue:#5189E0;
$yellow:#F7AE52;

// Define new colors
$lightblue:#EAF2FF;
$darkblue:#3462AA;
$black: #212121;

// Map colors
$colors: ("blue":$blue, "yellow":$yellow, "lightblue":$lightblue, "darkblue":$darkblue,"black":$black);

//Map theme-colors
$theme-colors: ("primary": $blue, "warning":$yellow, "dark":$black, "light":$lightblue);

// customize theme


// Bootstrap
@import "../bootstrap/scss/bootstrap.scss";

// Typography

$font-family-sans-serif: 'Lato', sans-serif;
$headings-font-family:'Lato', sans-serif;
$input-font-family: 'Lato', sans-serif;
$font-family-base: $font-family-sans-serif;


body{
   font-family: $font-family-base; 
}

