/*
Error: File to import not found or unreadable: ../bootstrap/scss/functions.
        on line 5 of scss/custom.scss

1: // Import Google fonts
2: @import url('https://fonts.googleapis.com/css?family=Lato:400,400i,900&display=swap');
3: 
4: // Required
5: @import "../bootstrap/scss/functions";
6: @import "../bootstrap/scss/variables";
7: @import "../bootstrap/scss/mixins";
8: 
9: 
10: // Re-define BS colors

Backtrace:
scss/custom.scss:5
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/tree/import_node.rb:44:in `import'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:310:in `visit_import'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/stack.rb:79:in `block in with_base'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/stack.rb:135:in `with_frame'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/stack.rb:79:in `with_base'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:209:in `each'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Users/christophersoueidan/.rubies/ruby-2.5.0/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: ../bootstrap/scss/functions.\A         on line 5 of scss/custom.scss\A \A 1: // Import Google fonts\A 2: @import url('https://fonts.googleapis.com/css?family=Lato:400,400i,900&display=swap');\A 3: \A 4: // Required\A 5: @import \"../bootstrap/scss/functions\";\A 6: @import \"../bootstrap/scss/variables\";\A 7: @import \"../bootstrap/scss/mixins\";\A 8: \A 9: \A 10: // Re-define BS colors"; }
