A<!-- skip links for accessibility -->
<nav>
    <a class="skip" href="#phone">Skip to "Talk to a lawyer"</a>
    <a class="skip" href="#mainContent">Skip to main content</a>
    <a class="skip" href="#info">Skip to "About SOS Ticket"</a>
</nav>

<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/en">
                <h1 class="text-white sr-only">SOS Ticket <span class="sr-only">(current)</span></h1>
                <img src="/img/logos/logo-light.svg" alt="SOS Ticket">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-chevron-circle-down" aria-hidden="true"></i> Menu
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">

                    <li class="nav-item" id="packages">
                        <a class="nav-link" href="/en/forfaits.html">Packages </a>
                    </li>
                    <li class="nav-item dropdown" id="about">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/en/a-propos.html" id="team">Our team</a>
                            <a class="dropdown-item" href="/en/a-propos.html#mission">Our mission</a>
                            <a class="dropdown-item" href="/en/a-propos.html#expertise">Our expertise</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/en/faq.html" id="faq">FAQ</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" id="connect">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Contact us
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/en/blogue.html" id="blog">Blog</a>
                            <a class="dropdown-item" href="https://www.facebook.com/sosticket.ca/" target="_blank">Facebook</a>
                            <a class="dropdown-item" href="/en/contactez-nous.html" id="contact">Write us</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="translation" href="">FR</a>
                    </li>
                </ul>
                <a href="tel:5144484911" class="btn btn-primary ml-lg-3 shadow" id="phone" role="button"><i class="fas fa-phone"></i> Call us</a>
            </div>
        </div>
    </nav>
</header>
