<footer class="py-5 bg-dark text-light" id="info">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                <a href="./"><img class="d-none d-md-block mt-md-2" src="./img/logos/logomark.svg" style="width:100px" alt="sos-ticket-logo"></a>
            </div>
            <div class="col-6 col-md">
                <h5 class="mb-3">Services de base</h5>
                <ul class="list-unstyled text-small">
                    <li><a href="./forfait-1-3-points.html">1-3 points</a></li>
                    <li><a href="./forfait-4-5-points.html">4-5 points</a></li>
                    <li><a href="./forfait-6-points-et-plus.html">6 points et +</a></li>
                    <li><a href="./forfait-gev.html">Grand excès de vitesse</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5 class="mb-3">Services spécialisés</h5>
                <ul class="list-unstyled text-small">
                    <li><a href="./forfait-droit-criminel.html">Droit criminel</a></li>
                    <li><a href="./forfait-facultes-affaiblies.html">Facultés affailblies</a></li>
                    <li><a href="./forfait-vehicules-lourds.html">Véhicules lourds</a></li>
                    <li><a href="./forfait-taxis.html">Taxis</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5 class="mb-3">Entreprise</h5>
                <ul class="list-unstyled text-small">
                    <li><a href="./a-propos.html">À propos</a></li>
                    <li><a href="./blogue.html">Blogue</a></li>
                    <li><a href="./contactez-nous.html">Contactez-nous</a></li>
                    <li><a href="./faq.html">FAQ</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5 class="mb-3">Nous joindre</h5>
                <p>Lundi-vendredi, 9h-17h<br><a href="https://goo.gl/maps/4aq4rqKnd3YEXeTx5" target="_blank">204 rue Notre Dame Ouest, Suite 350 <br> Montreal, QC H2J 1T3</a>
                  <br><a href="tel:5144484911">Tél.: (514) 448-4911</a>
                  <br><a href="tel:18444100101">Tél.: 1 (844)-410-0101</a>

                </p>
            </div>
            <div class="col-12">
                <hr style="border-bottom: 1px solid #333">
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <small class="d-block mt-3 text-muted order-md-3">
                        <ul class="list-inline">
                            <li class="list-inline-item ml-2">
                                <a href="https://www.facebook.com/sosticket.ca/" target="_blank">
                                    <i class="fab fa-facebook fa-2x"></i><span class="sr-only">Facebook</span>
                                </a>
                            </li>
                            <li class="list-inline-item ml-3">
                                <a href="mailto:info@sosticket.ca">
                                    <i class="far fa-envelope fa-2x"></i><span class="sr-only">Email us</span>
                                </a>
                            </li>
                        </ul>
                    </small>
                    <small class="d-block mt-3 order-md-2"><a href="./conditions.html">Conditions d’utilisations et politique de confidentialité</a></small>
                    <small class="d-block mt-3 order-md-1">&copy; 2019 SOS Ticket | Créé par <a href="https://loogart.com" target="_blank">Loogart</a></small>
                </div>
            </div>
        </div>
    </div>
</footer>
