<!-- skip links for accessibility -->
<nav>
    <a class="skip" href="#phone">Passer à "Parler à un avocat"</a>
    <a class="skip" href="#mainContent">Passer au contenu principal</a>
    <a class="skip" href="#info">Passer au pied de page du site</a>
</nav>

<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <h1 class="text-white sr-only">SOS Ticket <span class="sr-only">(current)</span></h1>
                <img src="/img/logos/logo-light.svg" alt="SOS Ticket">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-chevron-circle-down" aria-hidden="true"></i> Menu
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item" id="packages">
                        <a class="nav-link" href="./forfaits.html">Forfaits</a>
                    </li>
                    <li class="nav-item dropdown" id="about">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            À propos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/a-propos.html">Qui sommes-nous?</a>
                            <a class="dropdown-item" href="faq.html" id="faq">FAQ</a>
                            <!-- <div class="dropdown-divider"></div> -->
                            <a class="dropdown-item" href="/blogue.html" id="blog">Blogue</a>
                            <a class="dropdown-item" href="https://www.facebook.com/sosticket.ca/" target="_blank">Facebook</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" id="connect">
                      <a class="nav-link" href="/contactez-nous.html">Contactez-nous </a>
                        <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Contactez-nous
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="./blogue.html" id="blog">Blogue</a>
                            <a class="dropdown-item" href="https://www.facebook.com/sosticket.ca/" target="_blank">Facebook</a>
                            <a class="dropdown-item" href="./contactez-nous.html" id="contact">Écrivez-nous</a>
                        </div> -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="translation" href="">EN</a>
                    </li>
                </ul>
                <a href="tel:5144484911" class="btn btn-primary ml-lg-3 shadow" id="phone" role="button"><i class="fas fa-phone"></i> 514-448-4911</a>
            </div>
        </div>
    </nav>
</header>
